@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: #2d3033;
}


.header {
    width: 50%;
    text-align: center;
    padding-top: 40px;
    margin:auto;
  }

.main {
    width: 50%;
    margin:auto;
    padding-bottom: 40px;
  }


  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .main, .header {
      width: 100%;
      padding-left: 10px;
    }
  }

h1,
h2,
h3,
h4 {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

h1 {
    color: #29b093;
    font-weight: 700;
}

.is-centered {
    text-align: center;
}

.title {
    font-size: 400%;
    margin-top: 0.2em;
}

hr {
    background-color: #d9d9d9;
}


a {
    color: #2d3033;
    text-decoration: solid underline #ddd 1px;
}

a:visited {
    color: #2d3033;
}

a:hover {
    color: #29b093;
    text-decoration: solid underline #29b093 1px;
}

